body {
  background-color: #e6f0f3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* navbar */
.navbar {
  height: 70px;
  padding: 1rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo img {
  width: 40px;
  height: 40px;
  margin-inline-end: 8px;
}

.navbar-brand {
  color: #ffd803;
  font-size: 1.3rem;
  font-weight: 500;
  transition: 0.3s color;
}
.navbar-brand:hover {
  color: #fb8500;
}


.navbar-toggler {
  padding-left: 0;
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: #404258;
  font-weight: 500;
  position: relative;
}
.nav-link:hover,
.nav-link.active {
  color: #fb8500;
}
@media (min-width: 768px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #219ebc;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.user-dropdown {
  margin-right: 10px;
}

.user-icon-button {
  background: none;
  border: none;
  padding: 0;
}

.user-icon-button:hover,
.user-icon-button:focus {
  background: none;
  box-shadow: none;
}

.user-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-weight: bold;
  color: #333;
}

.hidden {
  display: none;
}
.invisible-placeholder {
  visibility: hidden;
}
/* navbar end */

/* footer */
footer {
  margin-top: auto;
}

/* user-icon dropdown */
.user-icon-rounded {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

/* Dropdown arrow circle overlay */
.dropdown-arrow-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #818080;
    border-radius: 50%;
    padding: 2px;
    color: white;
    font-size: 10px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
}

/* Hover on the whole button area */
.user-dropdown button:hover {
    border-radius: 50%; /* optional: to match circular style */
    transition: background-color 0.3s ease;
}

.user-dropdown button:hover img {
    transform: scale(1.05);
    transition: transform 0.2s ease;
    background-color: #a04848;
}

/* animate the arrow slightly on hover */
.user-dropdown button:hover .dropdown-arrow-icon {
    background-color: #666;
}
